html {
    scroll-behavior: smooth;
}
/* Diseño general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #ffffff; /* blanco */
}

/* Cabecera */
header {
    background-color: #1E90FF; /* azul */
    color: white;
    padding: 30px;
    text-align: center;
}

/* Menú */
nav {
    background-color: #28A745; /* verde */
}

nav ul li a {
    color: white; /* texto blanco */
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Secciones */
section {
    padding: 40px;
    max-width: 900px;
    margin: auto;
}
h2 {
    color: #1E90FF; /* azul */
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}
